
header{
  padding: 5px;
  background-color: #007bff;
    text-align: center;
    color: aliceblue;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container input{
  width: 80%;
  height: 40px;
}
.afficher{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  

}
button{
  background-color: #007bff;
  color: aliceblue;
border: none;
border-radius: 5px;
padding: 10px 20px;
  
}